body{
	background: url('../img/black_pattern01.jpg') fixed;
}

/*#isotopeContainer{
	height: 500px;
}*/

.item{
	display: block;
	width: 240px;
	height: 135px;
	background: rgba(200, 54, 54, 0.5); 
	color: red;
	margin: 1px;
	padding: 0;
	position: relative;
}

.item .info {
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(255,255,255,0.25);
	color: white;
	width: 100%;
	padding: 5px 0px;
}

.item h1, .item h2 {
	margin: 0;
	padding: 5px 10px;
	color: white;
	font-size: 1em;
	line-height: 1em;
	overflow: hidden;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

}

.item h1 {
	font-size: 1.2em;
}

.item video {
	display: none;
	width: 100%;
	height: 100%;
}

.item .thumbnail {
	position: absolute;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}






/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}